@model GitCode.Models.DetailRepository

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DetailRepository</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsOwner)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsOwner)
            @Html.ValidationMessageFor(model => model.IsOwner)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RepositoryId, "Repository")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RepositoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.RepositoryId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
