@model IEnumerable<GitCode.Models.DetailRepository>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Repository.IsPublic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsOwner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Repository.IsPublic)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DetailRepositoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DetailRepositoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DetailRepositoryId })
        </td>
    </tr>
}

</table>
