@model IEnumerable<GitCode.Models.Repository>

@{
    ViewBag.Background = "Blue";
    ViewBag.Title = "Index";
}
@if (WebSecurity.CurrentUserName != "")
{
    <div style="width:100%;text-align:right;">
        <div style="width:200px;float:right;">
            @Html.ActionLink("New Repository", "Create", null, new { @class = "ButtonLink" })
        </div>
    </div>
}
@if (ViewData.ContainsKey("PublicRepository"))
{
    <div>
        <input id="search" type="text" placeholder="User/Project">
        <button class="ButtonLink" onclick="toTree()">Tree</button>
    </div>
    <div style="float:left;width:40%;">
        <h2>Public Repository</h2> 
        <table style="background-color: #fff; border: 1px solid #ddd; width:100%;"  class="table-hover table-bordered">
            @foreach (var item in ViewData["PublicRepository"] as List<GitCode.Models.Repository>)
            {
                <tr style="padding:5px">
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <b>@Html.ActionLink(item.User + "/" + item.Project, "Tree", new { path = item.User + "/" + item.Project + "/master" })</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @item.ShortDescription
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }

        </table>
    </div>
}
@if (Html.Encode(ViewData.Eval("PrivateRepository")) != "")
{
    <div style="float:right;width:40%;text-align:right;">
        <h2>Contribution Repository</h2>
        <table class="table-hover table-bordered" style="margin-top: 0px; float: right; background-color: #fff; border: 1px solid #ddd; width: 100%;">
            @foreach (var item in ViewData["PrivateRepository"] as List<GitCode.Models.Repository>)
            {
                <tr style="padding:5px">
                <td>
                    <table>
                        <tr>
                            <td>
                                <b>@Html.ActionLink(item.User + "/" + item.Project, "Tree", new { path = item.User + "/" + item.Project + "/master" })</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @item.ShortDescription
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            }
        </table>
    </div>
}
<script>

    $('#search').typeahead({
    source: function (request, response) {
        var customer = new Array();
        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "@(Url.Action("AutoCompleteCountry", "Repository"))",
            data: { 'term' : request.term },
            success: function (data) {
                for (var i = 0; i < data.length ; i++) {
                    customer[i] = data[i];
                }
            }
        });
        response(customer);
    }
});
    function toTree() {
        var x = document.getElementById("search").value;
        window.location.assign("Repository/Tree/" + x + "/master")
        //window.open("Repository/Tree/" + x + "/master","_self");
    }
</script>